body {
  background-image: url("https://previews.123rf.com/images/semasrinouljan/semasrinouljan1908/semasrinouljan190800994/129072689-natural-brown-recycled-paper-texture-background.jpg");
  background-attachment: fixed;
}

main {
  margin-left: 20.5%;
}


.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 20%;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #2E4052;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  border-radius: 0px 20px 0px 20px;
  display: flexbox;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 10px;
  }
}

#renova {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
#login {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  margin-top: 90%;
  color:white;
}

.sidenav #pesquisa {
  background: #FFFFFF;
  border: 0.5px solid #848484;
  border-radius: 10px;
  height: 30px;
  width: 90%;
  margin-top: 8px;
  font-size: 17px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

main img {
  border-radius: 20px;
}

#teste {
  position: absolute;
  width: 40%;
  height: 90%;
  background: #2E4052;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: 'Nunito Sans', sans-serif;
  display: flexbox;

}
#teste .placeholder{
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  display: flex;
  width: 98%;
}

#caixa1 {
  position: absolute;
  width: 30%;
  height: 90%;
  background: #2E4052;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 41%;
  display: flexbox;
}
#caixa1  .caixa2 {
  width: 97%;
  height: 95%;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.principal {
  display: flexbox;
}

#produtonome {
  color: #2e4052;
  text-align: left;
  font-size: 30px;
  margin-left: 5%;
  margin-bottom: 0;
  padding-top: 20px ;
}

#preco {
  color:  #2e4052;
  font-weight:900;
  font-size: 60px;
  text-align: center;
  margin-top: 5%;
  margin-right: 3%;
}

#soldby {
  color:  #2e4052;
  margin-left: 5%;
}

#nomevend {
  color: rgb(17, 240, 17);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
  color: rgb(17, 240, 17);

}
#teste .sq-white{
  display: flexbox;
  background-color: rgb(255, 255, 255);
  color:#2E4052;
  font-size: 15px;
  font-weight: bold;
  margin: 1%;
  width: 98%;
  height: 37.5%;
  border-radius: 20px;
  padding-top: 2%;
  text-align: center;
}


@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: fixed;
    border-radius: 5px;
  }
  .sidenav a {float: center;}
  div.content {margin-left: 0;}
  .principal{
    justify-content: right;
  }
  main{
    margin: 0px;
    padding-top: 60%;
  }
 
  #teste {
    padding: 2%;
    width: auto;
    position: relative;
    display: flexbox;
  }
   a {float: left;}
  div.content {margin-left: 0;}

 
  #teste .placeholder{
    width: 100%;
    border-radius: 20px;
    
  }
  #caixa1 {
    width: 96%;
    max-height: 90%;
    background: #2E4052;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    margin-top: 3%;
    
  }
  #teste .sq-white{
    display: flexbox;
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 200px;
    max-height: 600px;
    border-radius: 20px;
    margin: 0px;
    margin-top: 3%;
    
  }
  #login {
    display: none;
    color:white
  }
}
